header {
	display: flex;
	margin: 5% auto;
	justify-content: space-evenly;
}

header > div {
	cursor: pointer;
}

.timer-container {
	display: flex;
	min-height: 60vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.timer .timer-values {
	font-size: 70px;
}

.timer-controls {
	display: flex;
	width: 100%;
	max-width: 30%;
	justify-content: space-around;
	padding: 50px 0;
}

.timer-controls > *:hover {
	cursor: pointer;
}
